<%@ Master Language="C#" %>
<%@ Register TagPrefix="asp" Namespace="System.Web.UI.WebControls" Assembly="Core.Web" %>
<!DOCTYPE html>
<html>
<head runat="server"><title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title></head>
<body>
  <div id="chrome-header">[master header]</div>
  <asp:ContentPlaceHolder ID="MainContent" runat="server">
    <p>(default master content)</p>
  </asp:ContentPlaceHolder>
  <div id="chrome-footer">[master footer]</div>
</body>
</html>
